// Variables
$defaultFont: 'Quicksand', sans-serif;
$defaultFontColor: rgb(11, 8, 112);
$backgroundColor: rgba(47, 52, 56, 1);
$backgroundAccent: rgba(228, 191, 121, 1);

//-------------------------------
//WHAT FILE IS THIS ATTACHED TO??
label {
	display: flex;
	margin: 0em 1em;
	box-sizing: border-box;
	width: auto;
	// font-family: $defaultFont;
	// border: solid red;
}

// --------
// index.js
#homePageContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	z-index: 2;
	height: 100vh;
	width: 100vw;
	margin: -8px;
}

#heroTextContainer {
	position: relative;
	display: flex;
	align-items: center !important;
	justify-content: center !important;
	z-index: 10;
	color: $defaultFontColor;
	text-shadow: 1px 1px 1px black;
	height: 100vh;
	width: 100vw;
	padding: 0px 4vw;
	box-sizing: border-box;
}

.heroText {
	width: fit-content;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 4px;
	text-align: justify !important;
}

#heroTitle {
	position: relative;
	font-size: clamp(20px, calc(1rem + 4vw), 50px);
	font-family: $defaultFont;
	font-weight: 600;
	box-sizing: border-box;
	background-color: $backgroundColor;
	margin-left: 5vw;
	margin-bottom: -0.75rem;
	padding: 0.75rem;
	z-index: 5;
	color: $backgroundAccent;
}

#heroSubText {
	position: relative;
	font-size: clamp(10px, calc(1rem + 2.5vw), 35px);
	font-family: $defaultFont;
	background-color: $backgroundAccent;
	margin-right: 5vw;
	padding: 0.75rem;
	z-index: 4;
	color: $backgroundColor;
}

#applyButtonContainer {
	display: flex;
	position: relative;
	margin-left: 50vw;
}

#applyButton {
	position: relative;
	font-family: $defaultFont;
	background-color: $backgroundColor;
	color: $backgroundAccent;
	text-shadow: 1px 1px 1px black;
	margin: -0.5rem 0rem 0rem 0rem;
	font-size: clamp(1rem, calc(0.5rem + 1.25vw), 1.2rem);
	z-index: 5;
}

#backgroundImage {
	position: relative;
	display: block;
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
	z-index: 0;
}

#backgroundContrast {
	position: absolute;
	background-color: rgb(240, 248, 255, 0.77);
	z-index: 1;
	height: 100%;
	min-height: 100vh;
	width: 100vw;
	box-sizing: border-box;
}

#homePageFooter {
	display: flex;
	position: relative;
	color: $backgroundColor;
	background-color: $backgroundAccent;
	margin-bottom: 0rem;
	bottom: 0px;
	border-radius: 2rem;
	padding: 0rem 0.5rem;
	margin: 0rem 0rem 0.5rem 0rem;
}

// -------------------
//rentalApplication.js
#applicationPageContainer {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100vw;
	height: auto;
	// height: 100%;
	min-height: 100vh;
	margin: -8px;
	box-sizing: border-box;
}

#applicantForm {
	position: relative;
	display: flex;
	align-items: stretch;
	z-index: 10;
	height: 100%;
	// margin-top: 20px;
	padding: 0px 3vw;
	max-width: 600px;
	margin: 20px auto 0px auto;
}

#stepper,
#completionNotice {
	position: relative;
	z-index: 10;
	display: flex;
	align-items: center;
}

#stepper {
	height: 30px;
}

#applicationPageFooter {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 0rem;
	z-index: 2;
	background-color: white;
	border: solid grey 1px;
	width: fit-content;
	border-radius: 2rem;
	padding: 0rem 0.5rem;
	margin: 1rem auto 1rem auto;
}

// -------------
// References.js
#evictionContainer {
	background-color: rgb(240, 248, 255, 0.95);
	border-radius: 0.2rem;
	width: fit-content;

	#evictionButtonContainer {
		display: flex;
	}
}

// -------------
// Signatures.js
#submitButton
// #certificationParagraph,
// #referenceHeader,
// #submitButtonContainer
{
	padding: 0em 1em;
	box-sizing: border-box;
}

// ------------------
// CustomTextField.js
#customTextFieldContainer {
	// display: flex;
	// position: relative;
	// z-index: 9;
	// border: solid blue;
	height: 100%;
}

// ---------------------------------------------------------------
// PersonalInformation.js, RentalHistory.js, EmploymentHistory.js, References.js, SignaturePage.js
.MuiInputLabel-root {
	background-color: rgb(240, 248, 255, 0.95);
	border-radius: 0.2rem;
}

.MuiFormHelperText-root {
	width: fit-content;
}

.MuiFormControl-fullWidth {
	color: rgb(240, 248, 255, 0.95);
	border-radius: 0.2rem;
}

.MuiButton-root {
	margin-bottom: 1rem;
}

// --------------------------------
// rentalApplication.js Media Query
@media (max-width: 625px) {
	.MuiStepLabel-label {
		display: none !important;
	}
}
