#pageHeader {
	justify-content: center;
}

#applicantForm {
	max-width: 600px;
	margin: auto;
}

//--------------------

label {
	display: flex;
	margin: 0em 1em;
	box-sizing: border-box;
	width: auto;
}

#evictionButtonContainer {
	display: flex;
}
#evictionStatus {
	display: none;
}
#certificationParagraph,
#submitButton,
#referenceHeader,
#submitButtonContainer {
	padding: 0em 1em;
	box-sizing: border-box;
}

//PersonalInformation.js, RentalHistory.js, EmploymentHistory.js, References.js, SignaturePage.js
.stepHeader {
	margin-bottom: 1rem;
}

//index.js
#homePageContainer {
	position: relative;
	display: flex;
	align-items: center !important;
	justify-content: center !important;
	z-index: 10;
}

.heroText {
	background-color: rgb(240, 248, 255, 0.6);
	width: fit-content;
	// width: auto;
	margin: auto !important;
	border-radius: 5px;
	box-sizing: border-box;
	padding: 4px;
	text-align: center !important;
}

#heroTitle {
	// font-size: clamp(20px, calc(1rem + 4vw), 50px);
	font-size: calc(1rem + 4vw);
}
#heroText {
	// font-size: clamp(15px, calc(1rem + 2.5vw), 40px);
	font-size: calc(1rem + 2.5vw);
}

#applyButtonContainer {
	display: flex;
	position: relative;
	justify-content: center;
}

#videoContainer,
.video {
	position: fixed;
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
}

.video {
	// object-fit: cover;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
}

footer {
	display: flex;
	// position: fixed;
	align-items: center;
	justify-content: center;
	margin: 1rem 0rem;
	// z-index: 11;
}

//RentalApplication.js
#stepper,
#completionNotice {
	margin: 1.5rem 0px;
}

@media (max-width: 625px) {
	.MuiStepLabel-label {
		display: none !important;
	}
}
