#pageHeader {
	justify-content: center;
}

#applicantForm {
	max-width: 600px;
	// border: solid red;
	margin: auto;
}

//--------------------

label {
	display: flex;
	margin: 0em 1em;
	// border: solid blue;
	// box-sizing: content-box;
	box-sizing: border-box;
	width: auto;
	// width: fit-content;
}

#evictionButtonContainer {
	display: flex;
}
#evictionStatus {
	display: none;
}
#certificationParagraph,
#submitButton,
#referenceHeader,
#submitButtonContainer {
	padding: 0em 1em;
	box-sizing: border-box;
}

//PersonalInformation.js, RentalHistory.js, EmploymentHistory.js, References.js, SignaturePage.js
.stepHeader {
	margin-bottom: 1rem;
	// border: solid red;
}

//index.js
footer {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0rem;
}

#applyButtonContainer {
	display: flex;
	// align-items: center;
	justify-content: center;
	// border: solid red;
}

//RentalApplication.js
#stepper,
#completionNotice {
	margin: 1.5rem 0px;
}

// #applicantForm {
// 	display: flex;
// 	margin: auto;
// }

@media (max-width: 575px) {
	.MuiStepLabel-label {
		display: none;
	}
}
